{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "💠 Installing AWS CLI... (see https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html)"
curl "https://awscli.amazonaws.com/AWSCLIV2.pkg" -o AWSCLIV2.pkg

sudo installer -pkg AWSCLIV2.pkg \
            -target {{ joinPath .chezmoi.homeDir .devToolsRelativePath }} \
            -applyChoiceChangesXML {{ joinPath .chezmoi.homeDir ".config" }}/aws.xml

echo "💠   Linking bins..."
sudo ln -s {{ joinPath .chezmoi.homeDir .devToolsRelativePath }}/aws-cli/aws /usr/local/bin/aws
sudo ln -s {{ joinPath .chezmoi.homeDir .devToolsRelativePath }}/aws-cli/aws_completer /usr/local/bin/aws_completer

echo "💠   Cleaning up..."
rm AWSCLIV2.pkg

echo "💠   Logs written to /var/log/install.log"

echo
echo "⏩ Configure dynamic profiles folder to be loaded from $HOME/.config/iterm2/DynamicProfiles (see Settings > Advanced > Section General > Path to folder with dynamic profiles)"
echo "⏩ Set default profile in iterm2 (see Settings > Profiles)"

{{ end -}}
