{
  "Profiles": [
    {
      "Guid" : "local",
      "Name" : "Local",
      "Description" : "Partial item2 profile",
      "Tags" : [
        "chezmoi"
      ],
      "Blinking Cursor" : true,
      "Cursor Type" : 0,
      "Prompt Before Closing 2" : false,
      "Use Custom Window Title" : true,
      "Unlimited Scrollback" : false,
      "Scrollback Lines" : 10000,
      "Rows" : 70,
      "Columns" : 200,
      "Normal Font" : "FiraCodeNFM-Reg 12",
    }
  ]
}